<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Emconsulting </title>
    <meta name="description" content="An interactive getting started guide for Brackets.">

    <link rel="icon" href="../Requirements/IMG/Icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../Requirements/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../Requirements/CSS/slick.css">
    <link rel="stylesheet" href="../Requirements/CSS/animate.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../Requirements/CSS/style.css">
    <link rel="stylesheet" href="../Requirements/CSS/Mobile.css">
</head>
<body>

<div class="container-fluid" id="Header">
    <button type="button" class="SideMenuBtn" onclick="$('.SideMenuDiv').show()">
        <img src="https://cdn-icons-png.flaticon.com/128/5259/5259008.png">
    </button>
    <div class="row justify-content-center align-content-center">
        <div class="col-10 LogoHolderOnM">
            <div class="row LogoHolderOnM">
                <div class="col-md-4 LogoHolderOnM">
                    <div class="HeaderLogo" onclick="$(this).find('a')[0].click()">
                        <a href="home.html" class="d-none"></a>
                        <img src="../Requirements/IMG/LogoHeader3.png" style="cursor:pointer;">
                    </div>
                </div>
                <div class="col-md-8 HOM">
                    <ul class="HeaderTabs">
                        <!--                        <li>-->
                        <!--                            <button type="button" class="LangBtn">-->
                        <!--                                <img src="https://cdn-icons-png.flaticon.com/128/197/197578.png">-->
                        <!--                                العربية-->
                        <!--                            </button>-->
                        <!--                        </li>-->
                        <li class="TabHov">
                            Contact Us
                            <div></div>
                        </li>
                        <li class="TabHov">
                            Services
                            <div></div>
                        </li>
                        <li class="TabHov" onclick="$(this).find('a')[0].click()">
                            <a href="home.html" class="d-none"></a>
                            Home
                            <div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="SideMenuDiv">
    <div class="SideMenuDivFade" onclick="$('.SideMenuDiv').fadeOut(600)"></div>
    <div class="SideMenuDivWidget animate__animated animate__fadeInRight">
        <ul>
            <li class="TabHov">
                Contact Us
                <div></div>
            </li>
            <li class="TabHov">
                Services
                <div></div>
            </li>
            <li class="TabHov">
                Home
                <div></div>
            </li>
        </ul>
    </div>
</div>

<div class="Banner">
    <div class="BannerInner">
        <img src="https://www.thestatesman.com/wp-content/uploads/2019/06/corporate.jpg" class="BannerBG">
        <div class="BannerDiv">
            <h2>
                Emconsulting
            </h2>
            <p>
                it’ll always be clear that we’re here to help you succeed
            </p>

            <!--            <button type="button">-->
            <!--                Get Started-->
            <!--            </button>-->
        </div>
    </div>
</div>

<div class="SecondBanner">
    <img src="../Requirements/IMG/Quote.png" class="SecondBannerArt">
    <h2 class="SecondBannerHeader">
        At <u>Engineering Management Consultant</u> We promise we’ll help you Quality management systems in
        a positive way so
        your key stakeholders understand the benefits of certification for them. Wherever you are on your ISO or Lean
        Manufacturing journey, we’ll help you take the next step. Whether providing training, giving advice or auditing
        you, it’ll always be clear that we’re here to help you succeed.
        We promise to share your  <u> passion </u>  for what you do as well as sharing our passion for business
        improvement with
        you. We’ll inspire you by passing on the experience we’ve gained from working in other organizations as well as
        our own. We’ll help you publicize your achievements, sharing your story with other like-minded businesses.
        We promise we’ll be  <u> professional </u>  at all times: we’ll respond to your queries quickly, we’ll respect
        confidentiality and we’ll be reliable and trustworthy in all aspects of our behavior. We also promise not to
        take a ‘one size fits all’ approach. We’ll take the time to understand your needs before proposing a tailored
        solution which has no hidden extra
    </h2>
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-10">

            <h3 class="SectionHeader">
                What We Can Do For You
                <div></div>
            </h3>


            <div class="row">
                <div class="col-md-6">
                    <div class="WhyUsItem">
                        <img src="https://cdn-icons-png.flaticon.com/128/3363/3363082.png">
                        <h3> Quality Consulting (ISO Certification) </h3>
<!--                        <button type="button" onclick="ReadMore($(this))" rel="#ReadMore1">-->
<!--                            Read More-->
<!--                            <i class="fas fa-angle-right"></i>-->
<!--                        </button>-->
                        <button type="button" onclick="$(this).find('a')[0].click()" rel="#ReadMore1">
                            <a href="QualityConsulting.html" class="d-none"></a>
                            Read More
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="WhyUsItem">
                        <img src="https://cdn-icons-png.flaticon.com/128/3363/3363038.png">
                        <h3> Software Provider </h3>
                        <button type="button" onclick="ReadMore($(this))" rel="#ReadMore2">
                            Read More
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
                <!--                <div class="col-md-4">-->
                <!--                    <div class="WhyUsItem">-->
                <!--                        <img src="https://cdn-icons-png.flaticon.com/128/3362/3362764.png">-->
                <!--                        <h3> Institutional Excellence (EFQM) King Abdulaziz Quality Award </h3>-->
                <!--                        <button type="button" onclick="ReadMore($(this))" rel="#ReadMore3">-->
                <!--                            Read More-->
                <!--                            <i class="fas fa-angle-right"></i>-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>


            <h3 class="SectionHeader d-none">
                ISO certifications
                <div></div>
            </h3>

            <h3 class="SectionHeader">
                Global certificates
                <div></div>
            </h3>

            <div class="row">
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="CertificationsItem">
                        <img src="../Requirements/IMG/Clogo.png">
                        <h2>
                            ISO 9001
                        </h2>
                        <span>
                             Quality Management
                        </span>
                    </div>
                </div>
            </div>

            <div class="Banner3 d-none">
                <img src="../Requirements/IMG/Banner3.png">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-none" id="TrustedBy">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-10">
            <h3 class="SectionHeader">
                Trusted By
                <div></div>
            </h3>

            <div class="row" id="TrustedBySlider">
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture4.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture3.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture16.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture15.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture13.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture14.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture4.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture3.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture16.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture15.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture13.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="TrustedByItem">
                        <img src="https://brains-rs.com/wp-content/uploads/2022/07/Picture14.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="Request">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-10">
            <h3 class="SectionHeader">
                Request the right certificate for your organization
                <div></div>
            </h3>
            <form class="row" id="RequestForm">
                <p>Choose the required certificates from the list</p>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <span onclick="SelectThisRequest($(this))">
                    <input type="checkbox">
                    ISO 10001, 10002 Quality management - Customer satisfaction
                </span>
                <div class="col-md-6">
                    <div class="FormItem">
                        <label>
                            Full Name
                        </label>
                        <input type="text" placeholder="#Example: First Second Last">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="FormItem">
                        <label>
                            Phone Number
                        </label>
                        <input type="number" placeholder="#Example: +962 000 000 00">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="FormItem">
                        <label>
                            Email
                        </label>
                        <input type="text" placeholder="#Example: name@address.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="FormItem">
                        <label>
                            Country
                        </label>
                        <select>
                            <option selected disabled> Select Country</option>
                            <option> Saudia Arabia</option>
                            <option> Jordan</option>
                            <option> Kuwait</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="FormItem">
                        <label>
                            Message
                        </label>
                        <textarea placeholder="Type your message here"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="FormItem">
                        <button type="submit">
                            <i class="fas fa-paper-plane"></i>
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ReadMorePopUp">
    <div class="ReadMorePopUpInner">
        <div class="ReadMorePopUpFade" onclick="$('.ReadMorePopUp').fadeOut(600)"></div>
        <div class="ReadMorePopUpDiv animate__animated animate__zoomIn">
            <div class="ReadMorePopUpContent" id="ReadMore1">
                <div class="ReadMorePopUpHeader">
                    <img src="https://cdn-icons-png.flaticon.com/128/3363/3363082.png">
                    <h2> Quality Consulting (ISO Certification) </h2>
                </div>
                <div class="ReadMorePopUpBody">
                    <p>
                        At Engineering Management Consultant We promise we’ll help you Quality management systems in a
                        positive way so your key stakeholders understand the benefits of certification for them.
                        Wherever you are on your ISO or Lean Manufacturing journey, we’ll help you take the next step.
                        Whether providing training, giving advice or auditing you, it’ll always be clear that we’re here
                        to help you succeed. We promise to share your passion for what you do as well as sharing our
                        passion for business improvement with you. We’ll inspire you by passing on the experience we’ve
                        gained from working in other organizations as well as our own. We’ll help you publicize your
                        achievements, sharing your story with other like-minded businesses. We promise we’ll be
                        professional at all times: we’ll respond to your queries quickly, we’ll respect confidentiality
                        and we’ll be reliable and trustworthy in all aspects of our behavior. We also promise not to
                        take a ‘one size fits all’ approach. We’ll take the time to understand your needs before
                        proposing a tailored solution which has no hidden extra
                    </p>
                </div>
            </div>

            <div class="ReadMorePopUpContent" id="ReadMore2">
                <div class="ReadMorePopUpHeader">
                    <img src="https://cdn-icons-png.flaticon.com/128/3363/3363038.png">
                    <h2> Management Consulting </h2>
                </div>
                <div class="ReadMorePopUpBody">
                    <p>
                        At Engineering Management Consultant We promise we’ll help you Quality management systems in a
                        positive way so your key stakeholders understand the benefits of certification for them.
                        Wherever you are on your ISO or Lean Manufacturing journey, we’ll help you take the next step.
                        Whether providing training, giving advice or auditing you, it’ll always be clear that we’re here
                        to help you succeed. We promise to share your passion for what you do as well as sharing our
                        passion for business improvement with you. We’ll inspire you by passing on the experience we’ve
                        gained from working in other organizations as well as our own. We’ll help you publicize your
                        achievements, sharing your story with other like-minded businesses. We promise we’ll be
                        professional at all times: we’ll respond to your queries quickly, we’ll respect confidentiality
                        and we’ll be reliable and trustworthy in all aspects of our behavior. We also promise not to
                        take a ‘one size fits all’ approach. We’ll take the time to understand your needs before
                        proposing a tailored solution which has no hidden extra
                    </p>
                </div>
            </div>

            <div class="ReadMorePopUpContent" id="ReadMore3">
                <div class="ReadMorePopUpHeader">
                    <img src="https://cdn-icons-png.flaticon.com/128/3362/3362764.png">
                    <h2> Institutional Excellence (EFQM) King Abdulaziz Quality Award </h2>
                </div>
                <div class="ReadMorePopUpBody">
                    <p>
                        At Engineering Management Consultant We promise we’ll help you Quality management systems in a
                        positive way so your key stakeholders understand the benefits of certification for them.
                        Wherever you are on your ISO or Lean Manufacturing journey, we’ll help you take the next step.
                        Whether providing training, giving advice or auditing you, it’ll always be clear that we’re here
                        to help you succeed. We promise to share your passion for what you do as well as sharing our
                        passion for business improvement with you. We’ll inspire you by passing on the experience we’ve
                        gained from working in other organizations as well as our own. We’ll help you publicize your
                        achievements, sharing your story with other like-minded businesses. We promise we’ll be
                        professional at all times: we’ll respond to your queries quickly, we’ll respect confidentiality
                        and we’ll be reliable and trustworthy in all aspects of our behavior. We also promise not to
                        take a ‘one size fits all’ approach. We’ll take the time to understand your needs before
                        proposing a tailored solution which has no hidden extra
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="Footer">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="OurVision">
                        <h3> Ourr Vision </h3>
                        <p>
                            Clear Quality understands that it can be difficult to navigate and understand the
                            terminology of these standards, let alone come up with a concrete plan to achieve
                            certification, but that’s why we are here to take the pressure away through offering Quality
                            Management Consulting services. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="FooterList">
                        <h3>
                            Tabs
                        </h3>
                        <ul>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                Main Menu  
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="home.html" class="d-none"></a>
                                Home
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                About Us
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                Our Services
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                ISO Consulting
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                Software Provider
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="FooterContactInfo">
                        <h3> Contact Us </h3>
                        <p>
                            <i class="fas fa-phone"></i>
                            +962 962 890
                        </p>
                        <p>
                            <i class="fas fa-mobile"></i>
                            +962 78989 0264
                        </p>
                        <p>
                            <i class="fas fa-envelope"></i>
                            Emconsulting@info.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Preloader">
    <div class="PreloaderInner animate__animated">
        <img src="https://wallpaperaccess.com/full/3175367.jpg" class="PreloaderBG">
        <div class="PreloaderDiv">
            <img src="../Requirements/IMG/Icon.png">
            <p>
                Just a second ...
            </p>
        </div>
    </div>
</div>
<script src="../Requirements/JS/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../Requirements/JS/aos.js"></script>
<script src="../Requirements/JS/jquery-3.6.0.min.js"></script>
<script src="../Requirements/JS/numscroller-1.0.js"></script>
<script src="../Requirements/JS/slick.min.js"></script>
<script src="../Requirements/JS/javascript.js"></script>

</body>
</html>
