<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Emconsulting </title>
    <meta name="description" content="An interactive getting started guide for Brackets.">

    <link rel="icon" href="../Requirements/IMG/Icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../Requirements/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../Requirements/CSS/slick.css">
    <link rel="stylesheet" href="../Requirements/CSS/animate.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../Requirements/CSS/style.css">
    <link rel="stylesheet" href="../Requirements/CSS/Mobile.css">
</head>
<body>

<div class="container-fluid" id="Header">
    <button type="button" class="SideMenuBtn" onclick="$('.SideMenuDiv').show()">
        <img src="https://cdn-icons-png.flaticon.com/128/5259/5259008.png">
    </button>
    <div class="row justify-content-center align-content-center">
        <div class="col-10 LogoHolderOnM">
            <div class="row LogoHolderOnM">
                <div class="col-md-4 LogoHolderOnM">
                    <div class="HeaderLogo" onclick="$(this).find('a')[0].click()">
                        <a href="home.html" class="d-none"></a>
                        <img src="../Requirements/IMG/LogoHeader3.png" style="cursor:pointer;">
                    </div>
                </div>
                <div class="col-md-8 HOM">
                    <ul class="HeaderTabs">
                        <!--                        <li>-->
                        <!--                            <button type="button" class="LangBtn">-->
                        <!--                                <img src="https://cdn-icons-png.flaticon.com/128/197/197578.png">-->
                        <!--                                العربية-->
                        <!--                            </button>-->
                        <!--                        </li>-->
                        <li class="TabHov">
                            Contact Us
                            <div></div>
                        </li>
                        <li class="TabHov">
                            Services
                            <div></div>
                        </li>
                        <li class="TabHov" onclick="$(this).find('a')[0].click()">
                            <a href="home.html" class="d-none"></a>
                            Home
                            <div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="SideMenuDiv">
    <div class="SideMenuDivFade" onclick="$('.SideMenuDiv').fadeOut(600)"></div>
    <div class="SideMenuDivWidget animate__animated animate__fadeInRight">
        <ul>
            <li class="TabHov">
                Contact Us
                <div></div>
            </li>
            <li class="TabHov">
                Services
                <div></div>
            </li>
            <li class="TabHov">
                Home
                <div></div>
            </li>
        </ul>
    </div>
</div>


<div class="ExBanner">
    <img src="https://abbe.com.ph/wp-content/uploads/2022/03/consultancy-slide.jpg">
    <div class="ExBannerInner">
        <h1> ISO CONSULTANCY </h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-10">
            <div class="row mt-5">
                <div class="col-md-8">
                    <p class="ServiceProduction">
                        Our highly-experienced team of ISO consultants have years of expertise in this field, assisting
                        a diverse range of clients in the implementation and efficient use of effective management
                        systems. Our approach to ISO consultancy is no different to the one we adopt when implementing
                        ISO and BS:EN Management Standards. Ultimately, we believe in adopting a collaborative,
                        supportive approach where our clients can receive as much assistance as they require. We
                        simplify the entire process, ensuring it remains straight-forward and stress-free for you
                        throughout.
                    </p>
                    <div class="WhyService">
                        <h4>
                            WHY MIGHT YOU NEED ISO CONSULTANCY?
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                    You need Accredited Certification (UKAS, INAB etc).
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                    You want to improve your current systems.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                    You no longer have the skills in-house to effectively run a system.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                    You need help auditing your system.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                    You would like to explore the idea of Certification before committing to full
                                    Certification.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                    You need to upgrade a standard to an updated version.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ServiceAbout">
                        <h4>
                            HOW CAN ISO QSL HELP YOU WITH CONSULTANCY?
                        </h4>
                        <p>
                            Whilst we do not provide Accredited Certification ourselves, we can certainly support you
                            through the process with another provider. This is actually one of the most popular reasons
                            for needing our ISO consultancy services.
                            <br>
                            <br>
                            In most cases, ISO certification is more than sufficient for the majority of businesses but
                            there are times where Accredited Certification to UKAS, INAB etc. is required by a customer,
                            trade association or regulatory body.
                            <br>
                            <br>
                            Despite us not providing Accredited Certification, our ISO consultants regularly audit
                            Management Systems for Accredited Certification providers and are well accustomed to the
                            process. This wealth of knowledge and expertise can therefore help you pass your assessment
                            first time, in an average of six to nine months. If required, we can also help you source an
                            Accredited Certification provider to assess your business and be with you during your Stage
                            1 and Stage 2 Assessments.
                            <br>
                            <br>
                            Once you have achieved your Accreditation, our support doesn’t have to end there. We can
                            help you stay on track with regular support to ensure you continue to meet the requirements
                            of your Certification.
                            <br>
                            <br>
                            Not sure if you need Accredited Certification? Contact our experts today to discuss your
                            requirements.
                        </p>
                    </div>

                    <div class="ServiceAbout">
                        <h4>
                            WHAT IS THE PROCESS?
                        </h4>
                        <p>
                            To begin with, our consultant will visit you to conduct a non-committal GAP analysis. This
                            helps us to identify where your business is now, what needs to be completed to reach your
                            intended goal and how many days consultancy would be required.
                            <br>
                            <br>
                            Whilst this is not a formal consultancy day, you will benefit from the advice and support of
                            our consultant, which will also be sent to you in a formal report.
                            <br>
                            <br>
                            Should you wish to proceed, we will provide additional consultancy to help you implement our
                            findings.
                        </p>
                        <img src="https://www.isoqsltd.com/wp-content/uploads/2023/01/iso.jpg">
                    </div>
                </div>
                <div class="col-md-4" dir="rtl">
                    <div class="SubSubject mt-0">
                        <img src="../Requirements/IMG/Subject.png">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's
                        </p>
                    </div>

                    <div class="SubSubject">
                        <img src="https://thumbs.dreamstime.com/b/exam-exam-time-concept-education-table-academic-alarm-118202712.jpg">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="Footer">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="OurVision">
                        <h3> Ourr Vision </h3>
                        <p>
                            Clear Quality understands that it can be difficult to navigate and understand the
                            terminology of these standards, let alone come up with a concrete plan to achieve
                            certification, but that’s why we are here to take the pressure away through offering Quality
                            Management Consulting services. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="FooterList">
                        <h3>
                            Tabs
                        </h3>
                        <ul>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                Main Menu  
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="home.html" class="d-none"></a>
                                Home
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                About Us
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                Our Services
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                ISO Consulting
                            </li>
                            <li onclick="$(this).find('a')[0].click()">
                                <a href="#" class="d-none"></a>
                                Software Provider
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="FooterContactInfo">
                        <h3> Contact Us </h3>
                        <p>
                            <i class="fas fa-phone"></i>
                            +962 962 890
                        </p>
                        <p>
                            <i class="fas fa-mobile"></i>
                            +962 78989 0264
                        </p>
                        <p>
                            <i class="fas fa-envelope"></i>
                            Emconsulting@info.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Preloader">
    <div class="PreloaderInner animate__animated">
        <img src="https://wallpaperaccess.com/full/3175367.jpg" class="PreloaderBG">
        <div class="PreloaderDiv">
            <img src="../Requirements/IMG/Icon.png">
            <p>
                Just a second ...
            </p>
        </div>
    </div>
</div>
<script src="../Requirements/JS/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../Requirements/JS/aos.js"></script>
<script src="../Requirements/JS/jquery-3.6.0.min.js"></script>
<script src="../Requirements/JS/numscroller-1.0.js"></script>
<script src="../Requirements/JS/slick.min.js"></script>
<script src="../Requirements/JS/javascript.js"></script>

</body>
</html>
