@media only screen and (max-width: 1030px) {

    *::-webkit-scrollbar {
        display: none;
    }

.Banner-Text h1 {
    font-size: 29px;
}

#First-Banner {
    padding-top: 95px;
    padding-bottom: 95px;
}

#Second-Banner {
    padding-top: 95px;
    padding-bottom: 95px;
}

#Project-Tabs button {
    font-size: 13px;
    padding: 11px 1px;


}

.BottomEdge {
    bottom: -97px;
}

.TopEdge {
    top: -111px;
}

.Check-Box-Design-Item img {
    width: 72px;
}

.Check-Box-Design-Item {
    width: 100%;
}

.Check-Box-Design-Item-Second img {
    width: 64px;
}

.Check-Box-Design-Item-Second {
    width: 100%;
}

.howToSubmitHeader {
    font-size: 13px;
    font-weight: bold;
}

.howToSubmitTutoriul {
    height: 140px;
}

.VideoThumb i {
    font-size: 68px;
    padding: 35px 7px;
}

.TermsNcondition p {
    display: block;
    margin: 0 auto;
    width: 98%;
    font-size: 14px;
}

.UserWallet h3 {
    font-size: 14px;;
}


.ContactUs-Item {
    width: 100%;
}

}