@media only screen and (max-width: 900px) {
    .SideMenuBtn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: none;
        border: none;
        z-index: 88;
    }

    .SideMenuBtn img {
        display: block;
        margin: 0 auto;
        width: 63%;
        pointer-events: none;
        opacity: 0.8;
    }

    #Header {
        position: relative;
        height: 65px;
    }

    .HOM {
        display: none !important;
    }


    .BannerDiv {
    }

    .BannerDiv h2 {
        display: block;
        margin: 0 auto;
        width: 100%;
        font-size: 36px;
    }

    .BannerDiv p {
        display: block;
        margin: 22px auto;
        width: 85%;
        font-size: 17px;
    }

    .HeaderLogo img {
        position: absolute;
        left: 19px;
        top: 12px;
        height: 42px;
    }

    .LogoHolderOnM {
        position: unset;
    }

    .BannerBG {
        filter: blur(3px) brightness(35%);
        width: auto;
        height: 100%;
        min-width: 100%;
    }


    .SecondBannerHeader {
        display: block;
        margin: 0 auto;
        width: 77%;
        text-align: justify;
        font-size: 16px;
        text-align-last: center;
        font-weight: 400;
        color: #4e4e4e;
    }


    .SecondBannerArt {
        display: block;
        margin: 30px auto;
        width: 69px;
    }

    #RequestForm span {
        position: relative;
        padding-left: 35px;
        font-size: 11px;
        font-weight: 700;
    }

    #RequestForm span input {
        position: absolute;
        left: 9px;
        top: 0;
        width: auto;
        height: 100%;
    }

    #RequestForm {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    #RequestForm p {
        display: block;
        margin: 13px auto;
        width: 96%;
        font-size: 13px;
    }

    .FormItem {
        display: block;
        margin: 0 auto;
        width: 104%;
        left: -2%;
        position: relative;
    }

    .SideMenuDiv {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
    }

    .SideMenuDivFade {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        z-index: -1;
        opacity: 0.6;
    }

    .SideMenuDivWidget {
        position: fixed;
        right: -20%;
        top: 0;
        width: 95%;
        background: white;
        height: 100%;
        padding: 5%;
        padding-right: 25%;
    }

    .SideMenuDivWidget ul {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        text-align: left;
    }

    .SideMenuDivWidget ul li {
        display: block;
        margin: 21px auto;
        width: 100%;
        font-size: 13px;
        padding: 9px 9px;
        background: #f2fbff;
        border-radius: 5px;
        color: #55859c;
        font-weight: 600;
    }

    .PreloaderBG {
        width: auto;
        height: 100%;
        min-width: 100%;
    }

    .ReadMorePopUpHeader img {
    }

    .ReadMorePopUpHeader h2 {
        display: block;
        margin: 23px auto;
        width: 100%;
        font-size: 15px;
    }

    .ReadMorePopUpBody p {
        display: block;
        margin: 0 auto;
        width: 100%;
        font-size: 12px;
    }


    .ReadMorePopUpDiv {
        display: flex;
        margin: 0 auto;
        width: 89%;
        max-height: 75%;
    }

    .ExBannerInner {
        height: 230px;
    }

    .ExBannerInner h1 {
        font-size: 27px;
    }

    .ServiceProduction {
        padding: 11% 5%;
        font-size: 14px;
    }

    .SubSubject {
        margin: 32px auto;
        width: 100%;
    }

    .OurVision {
        margin: 0 auto 60px;
        width: 85%;
    }

    .FooterContactInfo {
        margin: 60px auto 0;
        width: 85%;
    }

    .FooterCopyRights p {
        font-size: 11px;
    }

    .FooterCopyRights p img {
        margin: 0 3px;
        height: 12px;
    }

}