@media only screen and (max-width: 1350px) {

.HeaderSmallIcons .col-sm-2 {
    width: fit-content;
    max-width: unset;
    padding: 0;
}

.Header-Large-Tabs .col-sm a {
    font-size: 14px;
}

.EnglishBtnHeader {
    font-size: 14px;
}

.EnglishBtnHeader img {
    width: 16px;
}

.MyPackageBtn {;
    padding: 4px 27px;
    font-size: 14px;
}

.Header-Large-Tabs {
    margin-top: 17px;
}

.HeaderLogo img {
    margin: 6px 24px 0;
    width: 194px;
}

.HeaderOnScroll {
   display: none!important
}

.HeaderMiniPopUps  {
    left: unset;
    right: 14px;
    width: 267px;
}

#Header {
    padding-top: 10px;
    padding-bottom: 13px;
}

}

@media only screen and (max-width: 1175px) {
    .Header-Large-Tabs .col-sm {
        padding: 0
    }
}

@media only screen and (max-width: 1060px) {
.Header-Large-Tabs {
    padding-top: 75px;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    width: 329px;
    height: 100%;
    margin: 0;
    z-index: 999999;
    border-left: solid 2px #12095a;
    display: none;
    box-shadow: -3px 3px 20px 1px #03001b54;
}


.DevicesMenuBtn {
  display: inline-block;
}

.HeaderSmallIcons .col-sm-2 {
    margin: 1px 9px;
}

#HederSec1 {
   display: inline-block;
}

#HederSec2 {
   display: inline-block;
   width: 1px;
}

#HederSec3 {
    width: fit-content;
    max-width: none;
    min-width: 310px;
    display: inline-block;
    float: right;
}


.HeaderRowOnResponsive {
    display: block;
    width: 100%;
    max-width: unset;
}

.ResponsiveMenuFade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.HeaderMiniPopUps {
    left: unset;
    right: 14px;
    width: 326px;
}

.ServicesBG {
    height: auto;
}

.Header-Large-Tabs .col-sm-2 {display: none}

.HeaderSmallIcons {
    margin-top: 15px;
    position: relative;
    margin-top: 15px;
    position: relative;
    float: right;
    width: 100%;
}

    .Header-Hover-Line {display: none}

    .Header-Large-Tabs .col-sm a {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 19px;
    margin: 0px auto;
    color: #636363;
    padding: 24px 0px;
    border-bottom: solid 1px #f9f9f9;
}


.MyPackageBtn {display: block;margin: 0 auto;width: 100%;font-size: 19px;margin: 0px auto;color: #636363;padding: 24px 0px;border-bottom: solid 1px #f9f9f9;background: none;font-weight: 500;}


.Header-Large-Tabs .col-sm a:hover {
    color: black;
}

.FixedMenuHider {
 display: block;
 position: absolute;
 right: 0;
 top: 0;
 font-size: 30px;
 padding: 1px 16px;
 background: none;
 border: none;
 color: #d22e2e;
}

.Check-Box-Design-Item {
    border-radius: 22px;
}

.Check-Box-Design-Item-Second {
    border-radius: 20px;
}



}